a:hover { /*при наведении на ссылку курсора она поменяет цвет на красный*/
    color: red;
}

a:visited { /*после перехода по ссылке она окрасится в аква цвет*/
    color: aqua;
}

a:active { /*в момент нажатия на  ссылку она будет окрашена в зеленый*/
    color: green;
}

